<%- include('partials/header')  %>

<main>
	<nav class="navbar">
		<section class="navbar-first navbar-section">
			<div class="navbar-brand">
				<img src="/media/images/favicon3.png" alt="">
				<span>YelpCamp</span>
			</div>
			<div class="navbar-menu-button">
				<a href="#">
					<span>Show Menu</span>
				</a>
			</div>
		</section>
		<section class="navbar-second navbar-second-hidden navbar-section">
			<ul>
				<li class="navbar-link"><a href="#">Link</a></li>
				<li class="navbar-link"><a href="#">Link</a></li>
				<li class="navbar-link"><a href="#">Link</a></li>
				<li class="navbar-link"><a href="#">Link</a></li>
			</ul>
		</section>
	</nav>
	<header>
		<h1>This is the Campgrounds page</h1>
		<p>View our handpicked campgrounds from all over the world.</p>
		<a class="button" href='/campgrounds/new'>Add New Campground</a>
	</header>
	<section id="campground-grid">
		<% 
		campgrounds.forEach(campground => { %>
			<article class="campground-card">
				<img src='<%= campground.image %>' alt='<%= campground.name %>'>
				<h2><%= campground.name %></h2>
			</article>
		<% });
		%>	
	</section>
</main>





<%- include('partials/footer')  %>