<%- include('../partials/header')  %>
	<main class="centered-content">
		<section class="form-container">
			<h1>Edit <%= campground.name %></h1>
			<form action='/campgrounds/<%= campground._id %>?_method=PUT' method='POST'>
				<div class="form-field">
					<label for="name">Name: </label>
					<input type="text" id="name" name="campground[name]" placeholder="Enter campground name" value="<%= campground.name %>">
				</div>
				<div class="form-field">
					<label for="image">Image: </label>
					<input type="url" name="image" id="image" placeholder="Enter image URL" value="<%= campground.image %>">
				</div>
				<div class="form-field">
					<label for="description">Description: </label>
					<textarea name="description" id="description" placeholder="Enter description"><%= campground.description %></textarea>
				</div>
				<button type="submit" class="button form-button">Save Campground</button>
			</form>
		</section>
		<a href="/campgrounds/<%= campground._id %>">Go back to Campground</a>
	</main>
	

<%- include('../partials/footer')  %>