<%- include('../partials/header')  %>
	<main>
		<header>
			<h1>This is the Campgrounds page</h1>
			<p>View our handpicked campgrounds from all over the world.</p>
			<a class="button" href='/campgrounds/new'>Add New Campground</a>
		</header>
		<section id="campground-grid">
			<% campgrounds.forEach(campground => { %>
				<article class="campground-card">
					<a href='/campgrounds/<%= campground._id %>'>
						<img src='<%= campground.image %>' alt='<%= campground.name %>'>
					</a>
					<a href='/campgrounds/<%= campground._id %>'>
						<h2><%= campground.name %></h2>
					</a>
				</article>
			<% });
			%>	
		</section>
	</main>
		
<%- include('../partials/footer')  %>