<%- include('../partials/header')  %>
	<main>
		<h1>Campground Details</h1>
		<h2><%= campground.name %></h2>
		<img src='<%= campground.image %>' alt='<%= campground.name %>'>
		<p><%= campground.description %></p>
		<h3>Comments</h3>
		<a class="button" href="/campgrounds/<%= campground._id %>/comments/new">Add Comment</a>
		<% campground.comments.forEach(comment => { %>
			<p>
				<strong><%= comment.author %></strong> - <%= comment.text %>
			</p>
		<% }); %>
	</main>

<%- include('../partials/footer')  %>